<h1 id="assignment-2-fundamentals-of-bayesian-inference">Assignment 2: Fundamentals of Bayesian Inference</h1>
<p>This assignment is dedicated to chapters 2, 3, and 5 of the book. Submission deadline is Monday, May 11, 2020, 23:59 AOE.</p>
<p>The theoretical questions are based on exercises from Chapters 2, 3, and 5 of the book. A few options are given for each question, choose at your discretion. The programming questions are dedicated to hierarchical model basics. Questions on Slack #home-assignments channel or/and during the office hours are welcome.</p>
<h2 id="question-1-predictive-distributions">Question 1: Predictive distributions</h2>
<p>Exercise 2.2, 2.4, 2.6. Choose one.</p>
<h2 id="question-2-single-parameter-models">Question 2: Single-parameter models</h2>
<p>Exercise 2.13, 2.19. Choose one.</p>
<h2 id="question-3-multi-parameter-models">Question 3: Multi-parameter models</h2>
<p>Exercise 3.3, 3.5. Choose one.</p>
<h2 id="question-4-ride-hailing">Question 4: Ride-hailing</h2>
<p>There are 5 ride-hailing companies in Dolly city: Uber, Lyft, Bolt, Yango, and Gett. A popular ride is from the Railway station to the Independence square, where Doctor Dolly’s clinic is located. The following is the statistics of average waiting time of each of the services (time from sending a request through the app to boarding the vehicle), counted over different numbers of rides:</p>
<p>Service,Rides,Average waiting time (minutes)</p>
<pre><code>Uber,26,7.8
Lyft,17,14.4
Bolt,11,12.0
Yango,5,20.4
Gett,3,6.5</code></pre>
<p>Which service will you call if in a hurry? Provide a solution in Infergo.</p>
<h2 id="question-5-algotrading">Question 5: Algotrading</h2>
<p>At a currency exchange, the rates for trading EUR for USD were as following (each number is the price of 1 euro in dollars, for a particular trade):</p>
<pre><code>{&#39;Sunday&#39;:
    [1.0883, 1.1071, 1.0943, 1.1089, 1.1629, 1.0994, 1.1022, 1.1364, 1.0903,
     1.1153, 1.097, 1.0978, 1.1393, 1.1653, 1.1104, 1.1099, 1.119, 1.0983,
     1.1145, 1.1225, 1.1196, 1.1165, 1.0868, 1.1154, 1.1494, 1.1467, 1.1457,
     1.0982, 1.098, 1.1299, 1.1162, 1.079, 1.1523],

&#39;Monday&#39;:
    [1.0426, 1.0589, 1.0564, 1.0509, 1.0745, 1.0509, 1.0609, 1.0691, 1.0632,
     1.0627, 1.0699, 1.0496, 1.0582, 1.0643, 1.0741, 1.0551, 1.0681, 1.0538,
     1.0657, 1.0581, 1.0471, 1.066, 1.0631, 1.0764, 1.0787, 1.059, 1.0383,
     1.0685, 1.0773, 1.0644, 1.068, 1.062, 1.077, 1.0622, 1.0764]},

&#39;Tuesday&#39;:
    [1.0779, 1.0873, 1.092, 1.0805, 1.0971, 1.0823, 1.0857, 1.0797,
     1.0872, 1.0874, 1.1113, 1.1012, 1.0961, 1.0983, 1.0952, 1.0862,
     1.1066, 1.077, 1.093, 1.0867, 1.0851, 1.0907, 1.1207, 1.1011,
     1.0717, 1.0948, 1.1004, 1.0908, 1.0825, 1.0797, 1.0776, 1.0876,
     1.0795, 1.1051, 1.093, 1.1152, 1.0992, 1.0975, 1.1008, 1.1158,
     1.0933, 1.0948, 1.1047, 1.1025, 1.0936, 1.1072, 1.0844, 1.0954, 1.1066]}</code></pre>
<p>What were the average rates on each day? Which day was the most volatile? Provide a solution in Stan.</p>
